
<style>
    *{
    margin: 0;
    padding: 0;
}
.navheading{
    justify-content: space-around;
}
.navbar{
    color: white;
    background-color: darkred;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navlinks{
    color: white;
    text-decoration: none;
}
.list{
    display: flex;
    
    justify-content: space-around;
}
.listitems{ 
padding: 2vh 10vw;
list-style: none;
}
</style>
<body>
    <nav class="navbar">
        <h1 class="navheading">Banking System</h1>
        <ul class="list">
            <li class="listitems"><a href="" class="navlinks">About us</a></li>
            <li class="listitems"><a href="" class="navlinks">Register</a></li>
            <li class="listitems"><a href="" class="navlinks">Login</a></li>
        </ul>
    </nav>
</body>
